
.navbar-brand {
  font-family:'Montserrat-Black', sans-serif;
  font-size: 1.5rem;
  margin-left: 50px;
  font-weight:bold;
}
.nav-link {
  color: black;
}
.self-img {
  width: 60%;
  border-radius: 5%;
}
.part-1 {
  margin-left:50px;
  margin-right: auto;
  margin-top: 300px;
padding-left: 100px;
padding-bottom: 300px;
background-color: white;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
.btn {
  width: 40%;
  height: 3rem;;
}
.navbar-toggler {
margin-left: 506px;
}
.self-img-2 {
  width: 40%;
  border-radius: 5%;
 margin-left: 100px;

}
.abt-1 {
  padding-bottom: 50px;
}
#About {
  padding: 100px;
}
#Projects {
  margin-left: 100px;
}
.proj {
text-align: center;
padding: 50px;
}
.you-tube {
  width: 80%;
  padding: 20px;
  height: 400px;
}
.spotify {
  width: 80%;
    padding: 20px;
    height: 400px;
}
.whatsapp {
  width: 80%;
    padding: 20px;
    margin-left: 50px;
    height: 400px;
}
.github-btn {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.contact-box {
  padding: 100px;
  background-color:#F8ECD1;
  border-radius:1%;
}
.ctn-me {
  text-align: center;
}
.cnt-me {
  padding: 300px;
}
.text-spaces {
  padding-bottom: 200px;
  border-radius:2%;
  border-style: hidden;
}
.text-space {
  border-radius:2%;
  padding-bottom: 20px;
  border-style: hidden;
}
input {
  margin-bottom: 20px;
}
.send-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.footer {
text-align: center;
background-color: black;

}
footer {
  background-color: black;
  padding-bottom: 10px;
  padding-top: 50px;
}
.footer-link {
  padding-right: 100px;
  color: white;
}
.name-tag {
  color: white;
}
.but {

  margin: 50px 0px 0px 350px;
}
